<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center">Time to start a Workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading">
          <mat-select placeholder="Select new training" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!isLoading">
        <button class="new-training-button" type="submit" [disabled]="f.invalid" mat-raised-button color="primary" fxLayoutAlign="center"> Start Training</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>



