<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button="" (click)="onToggleSidenav()" color="accent">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="main-logo"><a routerLink="/">Diet-O-Matic App</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul class="main-nav-wrapper">
            <li class="main-nav-link" *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
            <li class="main-nav-link" *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li class="main-nav-link" *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li class="main-nav-link" *ngIf="isAuth"><a (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>