<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
    <mat-form-field class="form-input">  
      <input type="email" matInput placeholder="Your email" ngModel name="email-field" required>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input type="password" matInput placeholder="Your password" ngModel name="password-field" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Send</button>
  </form>
</section>