<div class="welcome" class="titleWrapper" fxLayout="column" fxLayoutAlign="center center">
  <section class="app-title">
    <h4>Welcome to:</h4>
    <h1>Diet-O-Matic</h1>
  </section>
</div>
<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h2>Diet</h2>
    <p>Keep track of your daily meals and have fun</p>
  </section>
  <section>
    <h2>Activity</h2>
    <p>Take some action, move your body and feel better everyday!</p>
  </section>
  <section>
    <h2>Challenge</h2>
    <p>Never stop, never give up, challenge yourself to became better everyday</p>
  </section>
</div>